<div id="content">
      <div id="photos" class="fullscreen">
        <a href="home.html" class="close"></a>
        <div id="photosCarousel" class="carousel slide swipe">
            <div class="carousel-inner">
            <?php foreach ($items as $i => $image):?>
              <div class="<?php if ($selected==$i) echo 'active '; ?>item">
                    <img id="photo<?php echo $i+1 ?>" src="<?php echo $image->url ?>" alt="<?php $image->title  ?>" class="photo" data-url="photo-<?php echo $i+1 ?>.html" />
              </div>
            <?php endforeach; ?>
          </div>
          <!-- Carousel nav -->
          <a class="carousel-control left no-ajaxy" href="#photosCarousel" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right no-ajaxy" href="#photosCarousel" data-slide="next">&rsaquo;</a>
          <!-- Share Links -->
          <?php $this->render('templates/sharelinks.php'); ?>
          <!-- Audio Button -->
          <?php if (isset($this->vars['audio'])): ?>
            <div id="btnAudio" onclick="javascript:toggleAudio()" class="<?php echo ($this->vars['audio']->state=="muted") ? "muted" : "unmuted"; ?> audio-button"></div>
          <?php endif ?>
          <img class="title-treatment" src="../assets/title-treatment.png" alt="title of movie" >
        </div>
      </div>

      <script type="text/javascript">
		
		init();
		
		<!-- Photo - Auto-resize -->
		$('.title-treatment img').load(function(){
			windowResize();
			RefreshSocial(false);
		});
		$('.carousel').bind('slid', function() {
			RefreshSocial(true);
		});
		
		function RefreshSocial(setPushState) {
		
			var activeImg= $('#photosCarousel .active img.photo');
			var url = '<?php echo $this->vars['url'];?>' + (activeImg.attr('data-url'));
			var msg = '<?php echo $this->vars['meta']['shareMessage'] ?>' + url;
			
			ReloadShareButtons(url, msg);
			if(setPushState) {
				History.pushState(null,  activeImg.attr('alt'), activeImg.attr('data-url'));
			};
		}
		
		
		</script>
    </div>